[Unit]
Description=Invidious (An alternative YouTube front-end)
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple

User=debian
Group=debian

WorkingDirectory=/home/debian/invidious
ExecStart=/home/debian/invidious/invidious -o invidious.log

Restart=always

[Install]
WantedBy=multi-user.target
